## Strings

#### mutable --> we can change
#### immutable --> we can not change

#### Strig methods

In [4]:
name='python'

#### str.islower()

In [5]:
name.islower()

True

#### str.isupper()

In [6]:
name.isupper()

False

In [40]:
s='python programming'
s.islower()

True

#### create a function to check first and last characters of given string are capital or not

In [17]:
def isupper(s):
    if s[0].isupper() and s[-1].isupper():
        return True
    return False
    
    
isupper('PythoN')

True

In [18]:
isupper('pyrhin')

False

#### str.lower()

In [21]:
s='PYTHON'
print(s.lower())
print(s)

python
PYTHON

In [23]:
s=s.lower()
print(s)

python

#### str.upper()

In [26]:
s='Ji Chang Wook'
print(s.upper())

JI CHANG WOOK

#### str.isdigit()

In [27]:
n='12345'
print(n.isdigit())

True

In [36]:
n1='1 12 34 44'
print(n1.isdigit())

False

#### str.isalpha()

In [39]:
name='chai min ho'
print(name.isalpha())

False

#### create a function to return whether it is name or number or other

In [46]:
def identifyMe(s):
    if s.isdigit():
        return 'number'
    elif s.isalpha():
        return 'name'
    return 'Others'
print(identifyMe('sireesha'))
print(identifyMe('1234'))
print(identifyMe('1mkf3'))

name
number
Others

#### str.split()
- spilt will spilt the sentence and store them in a list
- split return type is list

In [48]:
s='Python Programming'
words=s.split()
print(words)

['Python', 'Programming']

In [51]:
print(words[0])

Python

In [53]:
s.split('g')

['Python Pro', 'rammin', '']

#### str.lstrip( )

In [54]:
name='   python programming    '
print('original length ',len(name))
result=name.lstrip()
print(result,len(result))

original length  27
python programming     22

In [55]:
name='     python programming    '
print('original length ',len(name))
result=name.rstrip()
print(result,len(result))

original length  27
     python programming 23

In [56]:
name='     python programming    '
print('original length ',len(name))
result=name.strip()
print(result,len(result))

original length  27
python programming 18

#### take the values from the user until user gives 0 and print the minimum and maximum and sum of numbers in given values

##### Example data
- 'sai'
- 10
- 'ram'
- 'ra$'
- 20
- 5 
- 0

In [10]:
# def value(s):
#     if s.isdigit():
#         return s
#     #return False
s=1 
l=[]
while(s!='0'):
    s=input()
    if s.isdigit():
        l.append(s)
print(l)

3
ghh
5
1
0
['3', '5', '1', '0']

In [11]:
print(min(l))

0

In [12]:
print(max(l))

5

In [15]:
print(sum(map(int,l)))

9

In [18]:
numbers=[]
while True:
    data=input()
    if data=='0':
        numbers.append(0)
        break
    if data.isdigit():
        numbers.append(int(data))
print(numbers)
print('minimum',min(numbers),'maximum',max(numbers),'sum ',sum(numbers))

-1
2
3
d
4
0
[2, 3, 4, 0]
minimum 0 maximum 4 sum  9

#### str.startswith(sub_string)

In [20]:
s='sirisha'
print(s.startswith('a'))

False

In [23]:
s='sirisha'
print(s.startswith('S'))
print(s.startswith('s'))

False
True

#### str.endswith(sub_string)

In [26]:
s='python'
print(s.endswith('n'))
print(s.endswith('N'))
print(s.endswith('On'))
print(s.endswith('on'))

True
False
False
True

#### str.swapcase()

In [30]:
name='PyThoN'
print(name.swapcase())  # ---> after swaping 
name
print(name)   # ---> Original string will not change

pYtHOn
PyThoN

### str.title()

In [31]:
name = 'python programming'
print(name.title())

Python Programming

In [32]:
s='pYthoN progrAmInG'
print(s.title())

Python Programing

####  str.istitle()

In [33]:
name='Python Programming'
print(name.istitle())

True

In [34]:
name='PythonN ProgrAming'
print(name.istitle())

False

#### str.join(sequence_or_collection_of_items)

In [35]:
myList=['p','y','t','h','o','n']
'@'.join(myList)

'p@y@t@h@o@n'

In [36]:
print(' '.join(myList))

p y t h o n

In [37]:
print(''.join(myList))

python

In [38]:
m=['s','i','r',10]   # ---> list items should be in the form of strings 
''.join(m)

TypeError: sequence item 3: expected str instance, int found

In [39]:
m=['2','d','34','d']
''.join(m)

'2d34d'

In [49]:
name='p y t h o n'  # o/p --> 'python'
name=name.split()
#''.join(name)   --> o/p is 'python'
print(''.join(name))

python

In [46]:
name='p y t h o n'
print(''.join(name.split()))

python

In [58]:
students=[('siri','10,20,10,40'),('jcw','30,40,30,40')]
for student in students:
    print(student[0],'=',sum(list(map(int,student[1].split(',')))),end=' ')

siri = 80 jcw = 140

In [59]:
students

[('siri', '10,20,10,40'), ('jcw', '30,40,30,40')]

In [60]:
for student in students:
    name = student[0]
    marks_string=student[1]  # --> '10,20,40,34'
    list_string=marks_string.split(',')  # ['10','20','40','34']
    total_marks= 0
    for subject_marks in list_string:
        total_marks+=int(subject_marks)
    print(name,total_marks)

siri 80
jcw 140

In [61]:
paragraph='xyz abc mnp "asdf dfaa asdf" asd "fdas asdsdaff"'

### Input 
- 'xyz abc mnp "asdf dfaa asdf" asd "fdas asdsdaff" '
### Output format
- xyz
- abc
- mnp
- "asdf dfaa asdf"
- asd 
- "fdas asdsdaff"

In [68]:
p= paragraph
print(p)

xyz abc mnp "asdf dfaa asdf" asd "fdas asdsdaff"

In [66]:
s=p.split('"')
print(s)
for sentence in s:
    if len(sentence)>0:
        if sentence.endswith(' '):
            for word in sentence.split():
                print(word)
        else:
            print('"'+sentence+'"')

['xyz abc mnp ', 'asdf dfaa asdf', ' asd ', 'fdas asdsdaff', '']
xyz
abc
mnp
"asdf dfaa asdf"
asd
"fdas asdsdaff"

#### Print the names that is not ending with ' i ' and  ' u '

In [71]:
names=['siri','ji chang wook','choi','minho','charu']
for name in names:
    if not (name.endswith('i') or name.endswith('u')):
        print(name)

ji chang wook
minho

In [73]:
for name in names:
    if not name[-1] in ['i','u']:
        print(name)

ji chang wook
minho

#### String Slicing

In [80]:
name='python programming'
print(name[7:len(name)])
print(name[7:18])
print(name[10:14])
print(name[0:10:3])   #  --> 0,0+3,3+3,6+3
for char in name:
    print(char,end=' ')
    # print(char)

programming
programming
gram
ph o
p y t h o n   p r o g r a m m i n g

### tuples
- tuples are immutable
- strings are also immutable
- append,extend,insert like function are not possible in tuple
- likewise in strings tuples are also capable of slicing

In [2]:
myTuple=(1,2,3,4)
print(len(myTuple))
print(myTuple[0])

4
1

In [3]:
myTuple[0]=4  # --> updation is not possible

TypeError: 'tuple' object does not support item assignment

#### tuple.count(item)

In [4]:
myTuple.count(4)

1

In [5]:
myTuple.count(10)  # --> 0 is not there in the tuple here we got 0 as output

0

In [6]:
print(myTuple)
myTuple.index(4)

(1, 2, 3, 4)

3

In [7]:
myTuple.index(10)

ValueError: tuple.index(x): x not in tuple

In [8]:
min(myTuple)

1

In [9]:
max(myTuple)

4

In [10]:
sum(myTuple)

10

In [11]:
# print(sum(myTuple))
# sum=0
# sum(myTuple)    # --> now we got error here i.e sum value has changed as int

In [12]:
myTuple[0:3]

(1, 2, 3)

In [13]:
miniTuple=(1,2,3,1,2,3)
print(miniTuple.index(3))   # --> it will take first time seen 3 as its item then return 3s index
print(miniTuple.index(2,3))
#->1st argument is for which item u need to find out the index next 
#argument is from which index u wish to start

2
4

In [14]:
maxiTuple=(1,2,3,'4','5')
for each in maxiTuple:
    print(each,type(each))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'str'>
5 <class 'str'>

In [15]:
# Sum of digits in string
rollno='13A85A0504'
li=[]
for i in range(len(rollno)):
    if rollno[i].isdigit():
        li.append(int(rollno[i]))
print(li)
print(sum(li))

[1, 3, 8, 5, 0, 5, 0, 4]
26

In [5]:
# Reverse the string without using  ::-1
s=input()
st=''
for i in range(-1,-len(s)-1,-1):
    st+=s[i]
print(st)

siridmd
dmdiris

In [17]:
# # Print the names which has duplicate characters
# i/p -->" ramu ravi akash"
# # o/p --> akash
# i/p--> "ramu ravi"
# # o/p --> -1

s=input().split()
#print(s)
li=[]
for i in s:
    #print(i)
    for j in i:
        if i.count(j)!=1:
            li.append(i)
if len(li)>0:
    print(set(li))
else:
    print("-1")

siri surya rama raja rakesh
{'siri', 'raja', 'rama'}

In [ ]:
def duplicate()

In [19]:
#  "1+2+3+4"  sum of digits in the given string
#s=input()
s="1+2+3+4"
s=s.split('+')
t=0
for item in s:
    t+=int(item)
print(t)

10

In [ ]:
def abrivation(s,pat):
    for word in s:
        for i in pat:
            if i in word:
                c+=1
            l.append(word)
            flag=1
        if c>=len()

t=int(input())
for i in range(t):
    s=input()
    pat=input()
    abrivation(s,pat)

In [3]:
my_list = ['p','r','o','g','r','a','m','i','z']
my_list[2:5]

['o', 'g', 'r']

In [5]:
print(my_list[:len(my_list)-5])

['p', 'r', 'o', 'g']

In [7]:
li = ['p','r','o','b','l','e','m']
del li[2]
print(li)

['p', 'r', 'b', 'l', 'e', 'm']

In [8]:
li

['p', 'r', 'b', 'l', 'e', 'm']

In [9]:
len(li)

6

In [10]:
li[5]

'm'

In [11]:
li[0]

'p'